*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Merienda", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.75;
    background-color: #E3E6E8;
}

@media (min-width:1400px){
    .container{
        width:1320px;
        margin: 0 auto;
    }
}

@media (min-width:1200px){
    .container{
        width:1140px;
        margin: 0 auto;
    }
}

.header {
    background: #fff;
    flex-flow: row;
    place-content: center space-between;
    align-items: center;
    padding: 0 32px;
    display: flex;
    box-shadow: 0 0 4px #97979759;
    position: sticky;
    top: 0;
    z-index: 9;
}

.navigation ul.nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navigation ul.nav-items > li > a:active, .navigation ul.nav-items > li > a:hover {
    text-decoration: underline;
}

.navigation ul.nav-items > li > a {
    text-decoration: none;
}

.res-container {
    margin-block-end: 0;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: start;
    gap: 10px;
    margin: 15px 0;
    padding: 0;
    list-style: none;
    display: grid;
}

.res-card {
    cursor: pointer;
    border: 1px solid #ececec;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000;
    overflow: hidden;
    word-wrap: break-word;
    transition: all .2s ease;
}

.res-card:hover{
    box-shadow: 0 0 10px #00000052;
    transform: scale(0.95);
}

.res-card .content {
    padding: 15px;
}

.res-card h2{
    font-size: 1.125rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.res-card .cuisine{
    font-size:14px;
    color:#7e7e7e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.res-card .image {
    width: 100%;
    height: 200px;
    min-height: 200px;
    overflow: hidden;
}

.res-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.form {
    border-radius: 4px;
    outline: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .form > .textbox {
    outline: 0;
    height: 42px;
    width: 350px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  .form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  .form > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
  }

  button.btn {
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 231);
    padding: 9px 12px;
    width: auto;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: background-color 0.1s ease-in 0s, border-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s, width 0.2s cubic-bezier(0.65, 0, 0.35, 1) 0s;
}

  .footer {
    background: #fafafa;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 15px;
}